@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

:root{
   --cor-de-fundo:#285A48;
   --cor-texto-principal:#B4D3D9;
   --cor-texto-segundaria:#26f494;
   --botão-ativo:#18e9d1;
   --botão-desativo:#f32809;
}


body{
   font-family: "Arimo", sans-serif;
   color:var(--cor-texto-principal);
   background: var(--cor-de-fundo);
   
}
.conteudo-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}
.titulo-principal{
   text-align:left;
   width:100%;
   font-size:32px;
}
.titulo-principal span{
      color: #B4D3D9;
}
.botão{
   background-color: var(--botão-desativo);
   display: flex;
   justify-content: center;
   padding: 1em;
   font-size: 18px;
   align-items: center;
   width: 100%;
  border-bottom: 4px solid var(--botão-ativo);
  border-left: 2px solid var(--botão-ativo);
  border-right: 2px solid var(--botão-ativo);
  border-top: none;
} 
.botão:first-child{
   border-radius: 40px 40px 0 0;  
}
.botão.ativo{
   background-color: var(--botão-ativo);
   border-radius: 4px solid red;
   
}
.aba-conteudo.ativo{
   display: block;
}
.aba-conteudo{
   display: none;
}
.abas-texto{
   background-color: var(--botão-desativo);
   padding: 40px;
   border-radius: 0 0 40px 40px;
}
.coteudo-titulo-principal{
   font-size: 28px;
   text-align: center;
}
.coteudo-titulo-segundario{
   text-align: center;
   color: var(--cor-texto-segundaria);
   text-transform: uppercase;
}
.contador{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.contador-digito{
   padding: 0 16px;
   text-align: center;
   min-width: 100px;
}

@media screen and (min-width:768px){
    .botoes{
      display: flex;
    }
   .botão:first-child{
      border-radius: 40px 0 0 0;
   }
   .botão:last-child{
      border-radius: 0 40px 0 0;
   }
}