@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

:root{
   --cor-de-fundo:#285A48;
   --cor-texto-principal:#B4D3D9;
   --cor-texto-segundaria:#F45B26;
   --botão-ativo:#DB1A1A;
   --botão-desativo:#091413;
}


body{
   font-family: "Arimo", sans-serif;
   color:var(--cor-texto-principal);
   background: var(--cor-de-fundo);
   
}
.conteudo-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
}
.titulo-principal{
   text-align:left;
   width:100%;
   font-size:32px;
}
.titulo-principal span{
      color: #B4D3D9;
}
.botao{
   background-color: var(--botão-desativo);
   display: flex;
   justify-content: center;
   padding: 1cm;
   font-size: 18px;
   align-items: center;
   width: 100%;
}

